body {
	margin: 0;
	font-size: 16px;
	font-family: helvetica;
}

.card {
	margin: 100px;
	padding: 100px;
	box-shadow: 1px 1px 5px #ccc;
}

.heading {
	padding: 50px;
	color: white;
	background: #604560;
	text-align: center;
}



